.App {
  font-family: "Poppins", sans-serif; 
  text-align: center;
  background-color: #f8f8f8;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333;
}

/* Banner superior */
.banner {
  background-color: #6a0dad;
  color: white;
  padding: 10px 0;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px; 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}


/* Menú */
nav {
  margin: 10px 0;
}

nav button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background-color: #6a0dad;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

nav button:hover {
  background-color: #540a99;
}

/* Secciones */
h2 {
  margin-top: 20px; /* separa los títulos del banner */
}

input {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #6a0dad;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #540a99;
}

/* Footer */
.footer {
  background-color: #6a0dad;
  color: white;
  padding: 10px 0;
  font-size: 0.85rem;
  margin-top: 40px;
}
.footer a {
  color: #ffdd57;
  text-decoration: none;
}
